// fonts
$font-Lato: "Lato", sans-serif;
$font-PT-Serif: "PT Serif", sans-serif;
$font-OpenSans: "OpenSans", sans-serif;
$font-FrizQuadrataCTT: "FrizQuadrataCTT";
// fonts

// colors
$color-white: #FFFFFF;
$color-white-2: #D4D4D4;
$color-white-3: #969696;
$color-white-4: #BFBFBF;
$color-dark: #353535;
$color-dark-2: #2E2E2E;
$color-grey-dark: #606769;
$color-green: #5B764B;
$color-green-dark: #677F5A;
// colors
