.home {
    .container {
        padding: 94px 0 85px;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        @include desktop-1200 {
            padding: 94px 20px 85px;
        }
        
        @include tablet-993 {
            padding-top: 0;
            padding-bottom: 36px;
            align-items: center;
        }
    }

    &-title {
        font-size: 105px;
        font-weight: 400;
        line-height: 108px;
        font-family: $font-FrizQuadrataCTT;
        margin-bottom: 13px;

        @include tablet-993 {
            text-align: center;
            font-size: 55px;
            line-height: 55px;
        }
    }

    &-description {
        font-size: 20px;
        font-weight: 400;
        color: #828282;
        line-height: 135.7%;
        max-width: 454px;
        margin-bottom: 21px;

        @include tablet-993 {
            max-width: 100%;
            text-align: center;
            margin-bottom: 14px;
            font-size: 16px;
        }
    }

    .btn {
        display: inline-flex;
        align-items: center;
        gap: 19px;
        margin-bottom: 26px;

        @include tablet-993 {
            gap: 13px;
            margin-bottom: 17px;
        }

        .icon {
            width: 67px;
            height: 67px;
            border-radius: 50%;
            border: 2px solid #5B764B;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;

            @include tablet-993 {
                width: 38px;
                height: 38px;
            }

            img {
                transform: translateX(2px);

                @include tablet-993 {
                    width: 12px;
                }
            }
        }

        span {
            font-size: 20px;
            line-height: 122.7%;
            color: #2E2E2E;
            border-bottom: 1px solid #2E2E2E;

            @include tablet-993 {
                font-size: 16px;
            }
        }
    }

    .main_btn {
        display: inline-flex;
        padding: 0 50px;
        margin-bottom: 138px;

        @include tablet-993 {
            padding: 0 44px;
            margin-bottom: 310px;
        }
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @include tablet-993 {
            flex-direction: column;
            width: 100%;
            gap: 7px;
            align-items: stretch;
        }

        li {
            display: flex;
            align-items: flex-start;
            gap: 13px;

            @include tablet-993 {
                align-items: center;
                gap: 11px;
            }

            img {
                @include tablet-993 {
                    width: 33px;
                    flex-shrink: 0;
                }
            }

            p {
                margin-top: 9px;
                font-size: 20px;
                font-weight: 400;
                line-height: 113.7%;
                color: #606769;

                @include tablet-993 {
                    font-size: 16px;
                    margin-top: 0;
                    padding-bottom: 4px;
                }
            }
        }
    }

    &-card {
        position: absolute;
        top: -90px;
        right: -135px;
        z-index: -1;
        width: 1440px;
        min-width: 1440px;
        
        @include tablet-993 {
            display: none;
            bottom: 102px;
            top: auto;
            width: 516px;
            min-width: 516px;
            right: auto;
            left: 50%;
            transform: translateX(calc(-50% + 58px));
        }

        &.sm {
            display: none;

            @include tablet-993 {
                display: block;
            }
        }
    }
}