.suitable {
  padding: 70px 0;

  @include tablet-993 {
    padding: 34px 0;
  }

  .main_title {
    @include tablet-993 {
      text-align: center;
    }
  }

  &_in {
    margin-top: 50px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);

    @include tablet-993 {
      margin-top: 20px;
      grid-template-columns: repeat(1, 1fr);
      gap: 8px;
    }

    li {
      display: flex;
      align-items: start;
      gap: 20px;

      @include tablet-993 {
        gap: 12px;
      }

      span {
        font-size: 20px;
        font-weight: 400;
        line-height: 33.94px;
        color: $color-white-3;

        @include tablet-993 {
          font-size: 16px;
          line-height: 20px;
        }

        b {
          font-weight: 700;
          color: $color-black;
        }
      }
    }
  }

  &_block {
    display: flex;
    flex-direction: column;
    gap: 13px;

    @include tablet-993 {
      gap: 8px;
    }
  }
}
